# Checkpoint Three: Cleaning Data

Now you are ready to clean your data. Before starting coding, provide the link to your dataset below.

My dataset: earthquake_data.csv..  The link is provided below:

Import the necessary libraries and create your dataframe(s).

In [51]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

df = pd.read_csv('earthquake_data.csv')

#overview of the dataset
df.info()
df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 782 entries, 0 to 781
Data columns (total 19 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   title      782 non-null    object
 1   magnitude  782 non-null    float64
 2   date_time  782 non-null    object
 3   cdi        782 non-null    int64
 4   mmi        782 non-null    int64
 5   alert      415 non-null    object
 6   tsunami    782 non-null    int64
 7   sig        782 non-null    int64
 8   net        782 non-null    object
 9   nst        782 non-null    int64
 10  dmin       782 non-null    float64
 11  gap        782 non-null    float64
 12  magType    782 non-null    object
 13  depth      782 non-null    float64
 14  latitude   782 non-null    float64
 15  longitude  782 non-null    float64
 16  location   777 non-null    object
 17  continent  206 non-null    object
 18  country    484 non-null    object
dtypes: float64(6), int64(5), object(8)
memory usage: 116.2+ KB

(782, 19)

## Missing Data

Test your dataset for missing data and handle it as needed. Make notes in the form of code comments as to your thought process.

In [15]:
# checking for null values.
#####   explain cells with True value  #####
df.isna()

,title,magnitude,date_time,cdi,mmi,alert,tsunami,sig,net,nst,dmin,gap,magType,depth,latitude,longitude,location,continent,country
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
777,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,True,True
778,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,True
779,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,True,False
780,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,True,True
781,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,True,False

In [18]:
# checking for the sum of null values in each column
####### --- comment on the null values  ########
df.isnull().sum()

title          0
magnitude      0
date_time      0
cdi            0
mmi            0
alert        367
tsunami        0
sig            0
net            0
nst            0
dmin           0
gap            0
magType        0
depth          0
latitude       0
longitude      0
location       5
continent    576
country      298
dtype: int64

In [56]:
## Replacing null values in country and continent columns ##
df['country']=df['country'].fillna(value='no country')
df['continent']=df['continent'].fillna(value='no continent')
df.isnull().sum()

title          0
magnitude      0
date_time      0
cdi            0
mmi            0
alert        367
tsunami        0
sig            0
net            0
nst            0
dmin           0
gap            0
magType        0
depth          0
latitude       0
longitude      0
location       5
continent      0
country        0
dtype: int64

## Irregular Data

Detect outliers in your dataset and handle them as needed. Use code comments to make notes about your thought process.

In [53]:
## detecting outliers in the dataset ##
#sns.boxplot(df)  -- use distribution graph fro magnitude, depth etc
df.describe()

,magnitude,cdi,mmi,tsunami,sig,nst,dmin,gap,depth,latitude,longitude
count,782.000000,782.000000,782.000000,782.000000,782.000000,782.000000,782.000000,782.000000,782.000000,782.000000,782.000000
mean,6.941125,4.333760,5.964194,0.388747,870.108696,230.250639,1.325757,25.038990,75.883199,3.538100,52.609199
std,0.445514,3.169939,1.462724,0.487778,322.465367,250.188177,2.218805,24.225067,137.277078,27.303429,117.898886
min,6.500000,0.000000,1.000000,0.000000,650.000000,0.000000,0.000000,0.000000,2.700000,-61.848400,-179.968000
25%,6.600000,0.000000,5.000000,0.000000,691.000000,0.000000,0.000000,14.625000,14.000000,-14.595600,-71.668050
50%,6.800000,5.000000,6.000000,0.000000,754.000000,140.000000,0.000000,20.000000,26.295000,-2.572500,109.426000
75%,7.100000,7.000000,7.000000,1.000000,909.750000,445.000000,1.863000,30.000000,49.750000,24.654500,148.941000
max,9.100000,9.000000,9.000000,1.000000,2910.000000,934.000000,17.654000,239.000000,670.810000,71.631200,179.662000

## Unnecessary Data

Look for the different types of unnecessary data in your dataset and address it as needed. Make sure to use code comments to illustrate your thought process.

In [57]:
df1 = df.duplicated(keep = False).sum()
print('Number of duplicated rows: ', df1)
# Found no duplicated data, therefore no unnecessary duplicate data are present.

Number of duplicated rows:  0

## Inconsistent Data

Check for inconsistent data and address any that arises. As always, use code comments to illustrate your thought process.

In [19]:
df.head(15)
# in the dataset under review, I did not notice any columns with inconsistant data.

,title,magnitude,date_time,cdi,mmi,alert,tsunami,sig,net,nst,dmin,gap,magType,depth,latitude,longitude,location,continent,country
0,"M 7.0 - 18 km SW of Malango, Solomon Islands",7.0,22-11-2022 02:03,8,7,green,1,768,us,117,0.509,17.0,mww,14.000,-9.7963,159.5960,"Malango, Solomon Islands",Oceania,Solomon Islands
1,"M 6.9 - 204 km SW of Bengkulu, Indonesia",6.9,18-11-2022 13:37,4,4,green,0,735,us,99,2.229,34.0,mww,25.000,-4.9559,100.7380,"Bengkulu, Indonesia",NaN,NaN
2,M 7.0 -,7.0,12-11-2022 07:09,3,3,green,1,755,us,147,3.125,18.0,mww,579.000,-20.0508,-178.3460,NaN,Oceania,Fiji
3,"M 7.3 - 205 km ESE of Neiafu, Tonga",7.3,11-11-2022 10:48,5,5,green,1,833,us,149,1.865,21.0,mww,37.000,-19.2918,-172.1290,"Neiafu, Tonga",NaN,NaN
4,M 6.6 -,6.6,09-11-2022 10:14,0,2,green,1,670,us,131,4.998,27.0,mww,624.464,-25.5948,178.2780,NaN,NaN,NaN
5,M 7.0 - south of the Fiji Islands,7.0,09-11-2022 09:51,4,3,green,1,755,us,142,4.578,26.0,mwb,660.000,-26.0442,178.3810,the Fiji Islands,NaN,NaN
6,M 6.8 - south of the Fiji Islands,6.8,09-11-2022 09:38,1,3,green,1,711,us,136,4.678,22.0,mww,630.379,-25.9678,178.3630,the Fiji Islands,NaN,NaN
7,"M 6.7 - 60 km SSW of Boca Chica, Panama",6.7,20-10-2022 11:57,7,6,green,1,797,us,145,1.151,37.0,mww,20.000,7.6712,-82.3396,"Boca Chica, Panama",NaN,Panama
8,"M 6.8 - 55 km SSW of Aguililla, Mexico",6.8,22-09-2022 06:16,8,7,yellow,1,1179,us,175,2.137,92.0,mww,20.000,18.3300,-102.9130,"Aguililla, Mexico",North America,Mexico
9,"M 7.6 - 35 km SSW of Aguililla, Mexico",7.6,19-09-2022 18:05,9,8,yellow,1,1799,us,271,1.153,69.0,mww,26.943,18.3667,-103.2520,"Aguililla, Mexico",North America,Mexico
10,"M 6.9 - 90 km E of Yujing, Taiwan",6.9,18-09-2022 06:44,9,9,yellow,1,887,us,215,0.401,34.0,mww,10.000,23.1444,121.3070,"Yujing, Taiwan",Asia,Taiwan
11,"M 6.5 - 96 km SE of Lugu, Taiwan",6.5,17-09-2022 13:41,7,7,green,1,756,us,178,0.430,54.0,mww,10.000,23.0290,121.3480,"Lugu, Taiwan",Asia,Taiwan
12,"M 7.0 - 209 km SSE of Isangel, Vanuatu",7.0,14-09-2022 11:04,7,5,green,1,761,us,192,2.977,45.0,mww,137.000,-21.2077,170.2390,"Isangel, Vanuatu",NaN,NaN
13,"M 7.6 - 70 km E of Kainantu, Papua New Guinea",7.6,10-09-2022 23:47,8,8,yellow,1,965,us,272,3.158,12.0,mww,116.000,-6.2237,146.4710,"Kainantu, Papua New Guinea",Oceania,Papua New Guinea
14,"M 6.6 - 44 km SE of Kangding, China",6.6,05-09-2022 04:52,9,8,orange,0,1043,us,141,8.454,34.0,mww,12.000,29.7263,102.2790,"Kangding, China",Asia,People's Republic of China

In [58]:
df.tail(15)

,title,magnitude,date_time,cdi,mmi,alert,tsunami,sig,net,nst,dmin,gap,magType,depth,latitude,longitude,location,continent,country
767,"M 8.4 - 6 km SSW of Atico, Peru",8.4,23-06-2001 20:33,0,8,NaN,0,1086,official,518,0.0,0.0,mww,33.000,-16.2650,-73.641,"Atico, Peru",no continent,Peru
768,"M 6.7 - 128 km SSE of Panguna, Papua New Guinea",6.7,19-04-2001 21:43,0,6,NaN,0,691,us,282,0.0,0.0,mwc,17.000,-7.4100,155.865,"Panguna, Papua New Guinea",no continent,Solomon Islands
769,"M 6.8 - 16 km SSW of Kure, Japan",6.8,24-03-2001 06:27,0,7,NaN,0,711,us,596,0.0,0.0,mwc,50.000,34.0830,132.526,"Kure, Japan",Asia,Japan
770,"M 6.5 - 41 km SSW of Ambon, Indonesia",6.5,19-03-2001 05:52,0,6,NaN,0,650,us,206,0.0,0.0,mwc,33.000,-4.0290,128.020,"Ambon, Indonesia",no continent,Indonesia
771,"M 6.8 - 7 km SSE of Longbranch, Washington",6.8,28-02-2001 18:54,7,7,NaN,0,1441,uw,67,0.0,31.0,md,51.798,47.1490,-122.727,"Longbranch, Washington",North America,United States of America
772,"M 7.1 - 137 km WNW of Ternate, Indonesia",7.1,24-02-2001 07:23,0,7,NaN,0,776,us,426,0.0,0.0,mwc,35.000,1.2710,126.249,"Ternate, Indonesia",no continent,Indonesia
773,"M 7.4 - 102 km SSE of Bengkulu, Indonesia",7.4,13-02-2001 19:28,0,6,NaN,0,842,us,221,0.0,0.0,mwc,36.000,-4.6800,102.562,"Bengkulu, Indonesia",no continent,Indonesia
774,"M 6.6 - 5 km S of Cojutepeque, El Salvador",6.6,13-02-2001 14:22,0,8,NaN,0,670,us,273,0.0,0.0,mwc,10.000,13.6710,-88.938,"Cojutepeque, El Salvador",no continent,El Salvador
775,"M 7.7 - 17 km NW of Bhach?u, India",7.7,26-01-2001 03:16,0,9,NaN,0,912,us,472,0.0,0.0,mwc,16.000,23.4190,70.232,"Bhach?u, India",Asia,India
776,"M 6.9 - 59 km WSW of Bengkulu, Indonesia",6.9,16-01-2001 13:25,0,6,NaN,0,732,us,117,0.0,0.0,mwb,28.000,-4.0220,101.776,"Bengkulu, Indonesia",no continent,Indonesia
777,"M 7.7 - 28 km SSW of Puerto El Triunfo, El Sal...",7.7,13-01-2001 17:33,0,8,NaN,0,912,us,427,0.0,0.0,mwc,60.000,13.0490,-88.660,"Puerto El Triunfo, El Salvador",no continent,no country
778,"M 6.9 - 47 km S of Old Harbor, Alaska",6.9,10-01-2001 16:02,5,7,NaN,0,745,ak,0,0.0,0.0,mw,36.400,56.7744,-153.281,"Old Harbor, Alaska",North America,no country
779,"M 7.1 - 16 km NE of Port-Olry, Vanuatu",7.1,09-01-2001 16:49,0,7,NaN,0,776,us,372,0.0,0.0,mwb,103.000,-14.9280,167.170,"Port-Olry, Vanuatu",no continent,Vanuatu
780,"M 6.8 - Mindanao, Philippines",6.8,01-01-2001 08:54,0,5,NaN,0,711,us,64,0.0,0.0,mwc,33.000,6.6310,126.899,"Mindanao, Philippines",no continent,no country
781,"M 7.5 - 21 km SE of Lukatan, Philippines",7.5,01-01-2001 06:57,0,7,NaN,0,865,us,324,0.0,0.0,mwc,33.000,6.8980,126.579,"Lukatan, Philippines",no continent,Philippines

## Summarize Your Results

Make note of your answers to the following questions.

1. Did you find all four types of dirty data in your dataset?
-- I did  not find any duplicated data.
-- Found missing data : 367 alert, 576 continent, and 298 country row entries.
-- outliers ??
-- inconsistent data ??

2. Did the process of cleaning your data give you new insights into your dataset? 
-- apart from the missing country and continent data (because of where the earthquake was located, my dataset is very clean and easy to work through.

3. Is there anything you would like to make note of when it comes to manipulating the data and making visualizations?
-- the fact that there are missing values for country and continent means that these columns cannot to be fully used in vizualization.